/* main settings */

body {
    background-color: #CCC3B1 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start !important;
    height: 100vh !important;
    margin: 0 !important;
}
.navbar-brand {
    margin-right: 100px !important;

}

.navbar {

    background-color: #E2DBD1 !important;
    height: 100px !important;
    color: #444444 !important;
    font-weight: bold !important;


}


/* Stylizacja dla nagłówków z pionowymi kreskami */
.header-navigation {
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 1.5 !important;
    text-decoration: none !important;
    color: #444444 !important;

    display: flex!important;

    align-items: center!important;
}

.header-navigation a:hover {
    color: #8c8773 !important;
}

.header-navigation h1 {
    margin: 0 !important;
    padding: 0 15px !important;
    white-space: nowrap !important;
    font-size: 18px !important;
    color: #444444 !important;
}

.header-navigation .separator {
    margin: 0 10px !important;
    color: #A19A84 !important;
}

.header-navigation h1:first-child {
    padding-left: 0 !important;
}

.header-navigation h1:last-child {
    padding-right: 0 !important;
}

#main{
    margin-top: 120px !important;
}

.navigation-buttons-employer{
    margin-left: -400px !important;
}
.navigation-buttons-candidate{
    margin-left: -850px !important;
}
.navigation-buttons-home{
    margin-left: -750px !important;
}

.list-group-item {
    white-space: nowrap !important;
    padding: 15px 15px !important;
    margin-right: 5px !important;
    border-right: 1px solid #A19A84 !important;
}
.first-button{
    border-left: 1px solid #A19A84 !important;
}

.list-group-item:hover {
    color: #8c8773 !important;
}

.login-button {
    margin-right: 50px !important;
    background-color: #a09b87 !important;
    border-color: #7d7862 !important;
    }

.login-button:hover {
    background-color: #b2ad99 !important;
    border-color: #7d7862 !important;
}
.login-button:focus {
    outline: none !important;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5) !important;
}
.navigation-buttons-employer {
    display: flex !important;
    gap: 20px !important;
}

/*--------------------------------------------------------------------------------------------------------*/
/* employer-portal/new-job-offer */

.description-text-area{
    margin-bottom:15px !important;
}

.add-job-offer-button{
    background-color: #a09b87!important;
    border-color: #7d7862!important;
    float: right!important;
    margin-bottom:20px!important;

}

.add-job-offer-button:active{
    background-color: #b2ad99 !important;
    border-color: #7d7862 !important;
    float: right !important;
    padding-bottom: 20px !important;
}

.add-job-offer-button:hover {
    background-color: #b2ad99 !important;
    border-color: #7d7862 !important;
    color: white !important;

}

.employer-new-job-offer h2 {
    font-size: 37px !important;
    text-align: center !important;
    margin-top: 70px !important;
    margin-bottom: 45px !important;
    padding-top: 40px !important;

}

.col-md-4{
 margin-left: 0;  /* Sprawdzamy, czy nie ma zbędnych marginesów */
    transform: translateX(-20px);
}


/*--------------------------------------------------------------------------------------------------------*/
/* widok portalu kandydata */


.card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.5rem; /* Rozmiar czcionki imienia i nazwiska */
    margin-bottom: 8px;
    color: #444444;
}

.card-text {
    font-size: 1rem; /* Rozmiar czcionki emaila */
    color: #666; /* Kolor tekstu emaila */
}
#photo-container {
    position: relative; /* Ustaw kontener jako relative */
    width: 150px;      /* Szerokość kontenera */
    height: 150px;     /* Wysokość kontenera */

}

#profile-photo {
    width: 100%;       /* Wypełnij kontener */
    height: 100%;      /* Wypełnij kontener */
    border-radius: 50%; /* Okrągły kształt zdjęcia */

}

.edit-photo-button {
    position: absolute; /* Pozycjonowanie względem kontenera */
    bottom: 10px; /* Odstęp od dołu */
    right: -15px;  /* Odstęp od prawej */
    width: 40px;  /* Szerokość przycisku */
    height: 40px; /* Wysokość przycisku */
    border-radius: 50%; /* Okrągły kształt */
    background-color: #D3D3D3; /* Tło przycisku */
    border: 1px solid #7d7862; /* Ramka przycisku */
    display: flex; /* Wyśrodkowanie ikony */
    align-items: center; /* Wyśrodkowanie ikony w pionie */
    justify-content: center; /* Wyśrodkowanie ikony w poziomie */
    cursor: pointer; /* Wskaźnik kursora */
    z-index: 1; /* Ustaw z-index, aby ikona była nad zdjęciem */
}
.profile-container {
    display: flex;
    flex-direction: column; /* Ustawia zawartość w kolumnie */
    align-items: center;    /* Wyśrodkowuje w poziomie */
    text-align: center;     /* Wyśrodkowuje tekst w pionie */
}