body{
background-color: #CCC3B1;
}

.navbar {
    background-color: #E2DBD1;
    height: 100px;
}

.login-button.btn.btn-primary {
    margin-left: 40px;
    margin-right: 30px;
    background-color: #a09b87;
    border-color: #7d7862;
}

.navbar .container-fluid {
    display: flex;
    align-items: center; /* Ustawienie elementów na środku pionowo */
}

.navbar img {
    margin-right: -800px; /* Dodaj odstęp między logo a elementami JOB OFFERS oraz CONTACT */
}

.navbar ul{
    list-style-type: none;
    display: flex;
    margin-top: 25px;

}

.navbar ul a {
    color: #444444; /* Zmiana koloru tekstu */
    text-decoration: none; /* Usunięcie podkreślenia */
    font-weight: bold; /* Wytłuszczenie tekstu */
}
.navbar ul a:hover {
    color: #8c8773; /* Zmiana koloru tekstu po najechaniu myszką */
}

.navbar li {
    margin-right: 30px;

}
.navbar ul li {
    position: relative;
}

.navbar ul li::after {
    content: '';
    position: absolute;
    height: 30px; /* Długość kreski */
    width: 1px; /* Grubość kreski */
    background-color: #b0ad9e; /* Kolor kreski */
    right: -15px; /* Odległość od prawej strony elementu li */
    top: 50%; /* Ustawienie kreski na środku pionowo */
    transform: translateY(-50%); /* Wycentrowanie pionowo */
}
.navbar ul li:nth-of-type(1)::before {
    content: '';
    position: absolute;
    height: 30px; /* Długość kreski */
    width: 1px; /* Grubość kreski */
    background-color: #b0ad9e; /* Kolor kreski */
    left: -15px; /* Odległość od lewej strony elementu li */
    top: 50%; /* Ustawienie kreski na środku pionowo */
    transform: translateY(-50%); /* Wycentrowanie pionowo */
}

#main{
    margin-top: 110px;
}

.navbar a:hover {
    color: #555555;

}



