.navbar-collapse {
    background-color: transparent;
     transition: none;
     font-size: 16px !important;
         font-weight: 600 !important;
         line-height: 1.5 !important;
         text-decoration: none !important;
         color: #444444 !important;
}

.navbar-collapse.show {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}


.separator {
    display: inline-block;
    position: relative;
    top: 6px;
}

@media (max-width: 991px) {
    .navbar-collapse.show .separator {
        display: none;

    }
}


body {
    background-color: #CCC3B1 !important;
    height: 100vh !important;
    margin: 0 !important;
}
.navbar-brand {
    margin-right: 100px !important;

}

.navbar {
    background-color: #E2DBD1 !important;
    height: 100px !important;
    color: #444444 !important;
    font-weight: bold !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);


}
.navbar.scrolled {
    background-color: #E2DBD1 !important;
}

.header-navigation {
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 1.5 !important;
    text-decoration: none !important;
    color: #444444 !important;

    display: flex!important;

    align-items: center!important;
}

.header-navigation a:hover {
    color: #8c8773 !important;
}

.header-navigation h1 {
    margin: 0 !important;
    padding: 0 15px !important;
    white-space: nowrap !important;
    font-size: 18px !important;
    color: #444444 !important;
}

.header-navigation .separator {
    margin: 0 10px !important;
    color: #A19A84 !important;
}

.header-navigation h1:first-child {
    padding-left: 0 !important;
}

.header-navigation h1:last-child {
    padding-right: 0 !important;
}

#main{
    margin-top: 120px !important;
}

.navigation-buttons-employer{
    margin-left: -400px !important;
}
.navigation-buttons-candidate{
    margin-left: -850px !important;
}
.navigation-buttons-home{
    margin-left: -750px !important;
}

.list-group-item {
    white-space: nowrap !important;
    padding: 15px 15px !important;
    margin-right: 5px !important;
    border-right: 1px solid #A19A84 !important;
}
.first-button{
    border-left: 1px solid #A19A84 !important;
}

.list-group-item:hover {
    color: #8c8773 !important;
}

.login-button {
    margin-right: 50px !important;
    background-color: #a09b87 !important;
    border-color: #7d7862 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

.login-button:hover {
    background-color: #b2ad99 !important;
    border-color: #7d7862 !important;
}
.login-button:focus {
    outline: none !important;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5) !important;
}
.navigation-buttons-employer {
    display: flex !important;
    gap: 20px !important;
}

/*--------------------------------------------------------------------------------------------------------*/
/* widok employer-portal/new-job-offer */


.add-job-offer-button{
    background-color: #a09b87!important;
    border-color: #7d7862!important;
    float: right!important;
    margin-bottom:20px!important;
}

.add-job-offer-button:active{
    background-color: #b2ad99 !important;
    border-color: #7d7862 !important;
    float: right !important;
    padding-bottom: 20px !important;
}

.add-job-offer-button:hover {
    background-color: #b2ad99 !important;
    border-color: #7d7862 !important;
    color: white !important;
}

.employer-new-job-offer h2 {
    font-size: 37px !important;
    text-align: center !important;
    margin-top: 20px !important;
    margin-bottom: 25px !important;
    padding-top: 0px !important;
}

.new-job-offer-card {
    width: 80%;
    max-width: 1200px;
    background-color: #DAD7D2;
    margin: 20px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 15px;
}

.new-job-offer-page-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CCC3B1;
}



/*--------------------------------------------------------------------------------------------------------*/
/* widok portalu kandydata */


#photo-container {
    position: relative;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}


#profile-photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.edit-photo-button {
    position: absolute;
    bottom: -5px;
    right: 0;
    margin-right: -15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #D3D3D3;
    border: 1px solid #7d7862;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.change-photo-button {
    margin: 0px !important;
    background-color: #a09b87 !important;
    border-color: #7d7862 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0;
    line-height: 0;
    vertical-align: middle;
}


.change-photo-button i {
    vertical-align: middle;
}

.change-photo-button:hover {
    background-color: #b2ad99 !important;
    border-color: #7d7862 !important;
}
.change-photo-button:focus {
    outline: none !important;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5) !important;
}

.candidate-card {
    width: 90%;  80% szerokości rodzica */
    max-width: 1200px;
    background-color: #DAD7D2;
    margin: 20px auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.frame-card .card-body  {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
}


.candidate-page-container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CCC3B1;
    flex-direction: column;
}


.icon-size {
    font-size: 15px;
    line-height: 1;
    margin: 0;
}

.candidate-details {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    width: 70%;
}

.left-column {
    flex: 1;
    margin-right: 150px;
    margin-left: 100px;
}

.right-column {
    flex: 1;
    margin-left: 150;
}


.card-text {
    display: flex;
    align-items: center;
    font-size: 17px;
}

.card-text i {
    margin-right: 8px;
}

.icon-color {
        color: #a09b87;
    }
.frame {
    width: 90%;
    max-width: 1200px;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    }

.mb-0{
    padding-bottom: 30px;
}

/*--------------------------------------------------------------------------------------------------------*/
/* widok formularza experience */


.entry {
    background-color: #DAD7D2;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Dodanie cienkiej linii oddzielającej formularze */
.entry hr {
    border: 1px solid #ddd;
    margin: 10px 0;
}


#addExperienceBtn, #addProjectBtn, #addEducationBtn, #addCourseBtn {
    background-color: #a09b87 !important;
    border-color: #7d7862 !important;
    float: left !important;
    margin-bottom: 20px !important;
    display: block;
    margin: 20px 0 0 0;

    color: white !important;
    border: 1px solid #7d7862 !important;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.5;
    padding-top: 5px;
}

#addExperienceBtn:active, #addProjectBtn:active, #addEducationBtn:active, #addCourseBtn:active {
    background-color: #b2ad99 !important;
    border-color: #7d7862 !important;
    padding-bottom: 20px !important;
    color: white !important;
}

#addExperienceBtn:hover, #addProjectBtn:hover, #addEducationBtn:hover, #addCourseBtn:hover {
    background-color: #b2ad99 !important;
    border-color: #7d7862 !important;
    color: white !important;
}


/*--------------------------------------------------------------------------------------------------------*/
/* widok experience Add */


.frame-card, .frame-card-skills, .frame-card-basic-info {
    border-radius: 12px !important;
    background-color: #E5E5E5 !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border: 1px solid #ddd;
    font-family: 'YourFontFamily', sans-serif;
    font-size: 16px;
    color: #333;

}
.frame-card-skills{
    padding-left: 50px;

}

.frame-card-basic-info {
    width: 80%;
}

.experience-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.experience-dates, .project-dates {
    text-align: right;
    min-width: 150px;
    padding-right: 250px;
    white-space: nowrap;
}

.experience-dates p, .project-dates p {
    margin: 0;
    color: #555;
}

.experience-info, .project-info {
    font-weight: normal;
    color: #777;
    font-size: 0.9rem;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
    padding: 0;
}

.experience-info-value, .project-info-value {
    font-weight: bold;
    color: #555;
    display: block;
    margin-top: 5px;
    font-size: 1rem;
    padding: 0;
    margin-left: 0;
    width: 100%;
}

.experience-info-value.description {
    font-weight: normal;
    width: 100%;
    padding-left: 0;
}

.change-photo-button {
    margin-left: 10px;
}

.d-flex.justify-content-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
    }

    .experience-dates {
        padding-right: 0;
    }

    .experience-info {
        font-size: 1rem;
    }

    .text-end {
        margin-top: 10px;
        text-align: left;
    }
}

.custom-link {
    color: #444444;
    text-decoration: none;
}

.custom-link:hover {
    color: #6c757d;
    text-decoration: underline;
}

.candidate-status .card-text-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-status {
    margin-left: auto;
}

.frame-card-status {
    margin-left: 212px;
    margin-right: 45px;
    padding-left: 130px;
    padding-top: 20px;
    padding-bottom: 0px;
}

/*--------------------------------------------------------------------------------------------------------*/
/* widok home */

.title-frame {
    margin-left: 45px;
    padding-top: 20px;
}


.info-frame {
     padding-bottom: 10px;
     margin-left: 20px;
     margin-right: 20px;
     margin-bottom: 20px !important;

}

.short-information {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.short-information p {
    margin: 0;
}


.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: disc;
    padding: 0;
}

.skills-list li {
    margin: 0;
    list-style-position: inside;
}

.short-information, .description-information, .skills-information {
    margin-bottom: 20px;
    justify-content: space-between;
}

.h1-home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

.apply-button {
    margin-right: 20px;

}

.button-group {
    display: inline-flex;
    gap: 5px;
}






