<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/candidate_portal_base}">
<head>
    <title>Find your job!</title>
</head>
<body>

<div layout:fragment="candidateContent">
        <h3>candidate</h3>
        <h3>candidate</h3>
        <h3>candidate</h3>
        <h3>candidate</h3>
        <h3>candidate</h3>
        <h3>candidate</h3>
        <h3>candidate</h3>
        <h3>candidate</h3>
        <h3>candidate</h3>

</div>

</body>


</html>
