<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/employer_portal_base}">

<head>
    <title>Code Bridge!</title>
    <link rel="stylesheet" type="text/css" href="" th:href="@{/css/style.css}">
</head>
<body>

<div layout:fragment="employerContent" class="job-applications-page-container">
    <div class="h1-home">
        <h2>JOB APPLICATIONS </h2>
    </div>
    <div class="job-offers-container">
        <div class="container mt-4">
                <div class="card-body">
                    <div class="candidate-card">
                        <div class="card-body">
                            <div class="title-frame d-flex justify-content-between align-items-center">
                                <h5 class="mb-0">Job Offer Title</h5>
                                <div class="button-group">
                                    <button type="submit" class="add-job-offer-button btn btn-primary apply-button">Accept</button>
                                    <button type="submit" class="add-job-offer-button btn btn-primary apply-button">Reject</button>
                                </div>

                            </div>
                            <div class="frame-card info-frame ">
                                <div class="short-information">
                                </div>
                                <button type="submit" class="add-job-offer-button btn btn-primary apply-button">
                                    Candidate Profile
                                </button>
                                <h5><strong>Candidate Overview:</strong></h5>
                                <hr>
                                <p><strong>Name:</strong> </p>
                                <p><strong>Surname:</strong></p>
                                <p><strong>Email:</strong></p>
                                <p><strong>Phone:</strong></p>
                                <p class="w-100"><strong>Skills:</strong></p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>