<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/employer_portal_base}">

<head>
    <title>MY JOB OFFERS!</title>
    <link rel="stylesheet" type="text/css" href="" th:href="@{/css/style.css}">
</head>
<body>

<div layout:fragment="employerContent" class="my-job-offers-page-container">
    <div class="h1-home">
        <h2>MY JOB OFFERS</h2>
    </div>
    <div class="job-offers-container">
        <div class="container mt-4">
            <div class="card-body" th:each="employerJobOffer : ${employerJobOffers}">
                <div class="candidate-card">
                    <div class="card-body">
                        <div class="title-frame d-flex justify-content-between align-items-center">
                            <h4 class="mb-0" th:text="${employerJobOffer.jobOfferTitle}">Job Offer Title</h4>
                            <div class="button-group">
                                <button type="button" class="add-job-offer-button btn btn-primary apply-button">
                                    Edit JobOffer (future feature)
                                </button>
                            </div>
                        </div>
                        <div class="frame-card info-frame">
                            <div class="short-information">
                                <p><strong>Specialization:</strong> <span
                                        th:text="${employerJobOffer.techSpecialization}">Tech Specialization</span></p>
                                <p><strong>Work Type:</strong> <span
                                        th:text="${employerJobOffer.workType}">Work Type</span></p>
                                <p><strong>City:</strong> <span th:text="${employerJobOffer.city}">City</span></p>
                                <p><strong>Experience:</strong> <span th:text="${employerJobOffer.experience}">Experience</span>
                                </p>
                                <p><strong>Salary:</strong> <span th:text="${employerJobOffer.salary}">Salary</span></p>
                            </div>
                            <hr>
                            <div class="description-information">
                                <p><strong>Description:</strong> <span th:text="${employerJobOffer.description}">Description</span>
                                </p>
                            </div>
                            <hr>
                            <div class="skills-information">
                                <p><strong>Must Have Skills:</strong></p>
                                <ul class="skills-list">
                                    <li th:each="skill : ${employerJobOffer.mustHaveSkills}" th:text="${skill}">Skill
                                    </li>
                                </ul>

                                <p><strong>Nice to Have Skills:</strong></p>
                                <ul class="skills-list">
                                    <li th:each="skill : ${employerJobOffer.niceToHaveSkills}" th:text="${skill}">
                                        Skill
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>