<!DOCTYPE HTML>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/employer_portal_base}">
<head>
    <title>Code Bridge</title>
</head>
<body>

<div layout:fragment="employerContent">
        <h3>employer</h3>
        <h3>employer</h3>
        <h3>employer</h3>
        <h3>employer</h3>
        <h3>employer</h3>
        <h3>employer</h3>
        <h3>employer</h3>
        <h3>employer</h3>
        <h3>employer</h3>

</div>

</body>


</html>
