<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/employer_portal_base}">

<head>
    <title>Code Bridge!</title>
</head>
<body>
    <div layout:fragment="employerContent">

        <h1>NEW JOB OFFER</h1>
        <h1>NEW JOB OFFER</h1>
        <h1>NEW JOB OFFER</h1>
        <h1>NEW JOB OFFER</h1>
        <h1>NEW JOB OFFER</h1>
        <h1>NEW JOB OFFER</h1>
        <h1>NEW JOB OFFER</h1>
        <h1>NEW JOB OFFER</h1>
        <h1>NEW JOB OFFER</h1>

    </div>


</body>


</html>