<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/employer_portal_base}">
<head>
    <title>Code Bridge</title>
</head>
<body>

<div layout:fragment="employerContent">
    <div class="candidate-card">
        <div class="card-body ">
            <h3 style="margin-bottom: 40px;">Basic Info</h3>
            <div class="card-body d-flex align-items-center">
                <div id="photo-container" class="me-4">
                    <img th:src="@{/images/avatar.png}"
                         alt="Default Avatar"
                         class="img-fluid rounded-circle"
                         style="width: 150px; height: 150px;"/>
                </div>
                <div class="candidate-details frame-card-basic-info">
                    <div class="left-column">
                        <h5 class="card-title" style="font-size: 1.5em;"
                            th:text="${employer.companyName}"></h5>
                        <p class="card-text">
                            <i class="bi bi-envelope-fill icon-color"></i>
                            <span th:text="${employer.email}"></span>
                        </p>
                        <p class="card-text">
                            <i class="bi bi-telephone-fill icon-color"></i>
                            <span th:text="'NIP. ' + ${employer.nip}"></span>
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

</body>


</html>
