<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Code Bridge!</title>
    <link rel="stylesheet" type="text/css" href="" th:href="@{/css/style.css}">
</head>
<body>

<div layout:fragment="employerContent" class="job-applications-page-container">
    <div class="h1-home">
        <h2>JOB APPLICATIONS</h2>
    </div>
    <div class="job-offers-container">
        <div class="container mt-4">
            <div class="card-body" th:each="employerJobApplication : ${employerJobApplications}">
                <div class="candidate-card">
                    <div class="card-body">
                        <div class="title-frame d-flex justify-content-between align-items-center">
                            <h5 class="mb-0" th:text="${employerJobApplication.jobOfferTitle}">Job Offer Title</h5>
                            <div class="button-group">
                                <form th:action="@{/employer-portal/job-applications/accept}" method="post">
                                    <input type="hidden" name="applicationId" th:value="${employerJobApplication.applicationId}">
                                    <button type="submit" class="add-job-offer-button btn btn-primary apply-button">
                                        Accept
                                    </button>
                                </form>
                                <form th:action="@{/employer-portal/job-applications/reject}" method="post">
                                    <input type="hidden" name="applicationId" th:value="${employerJobApplication.applicationId}">
                                    <button type="submit" class="add-job-offer-button btn btn-primary apply-button">
                                        Reject
                                    </button>
                                </form>

                            </div>
                        </div>

                        <div class="frame-card info-frame">
                            <div class="short-information">
                            </div>
                            <a th:href="'/CodeBridge/employer-portal/job-applications/candidate-profile?candidateEmail=' + ${employerJobApplication.candidateEmail}"
                               target="_blank">
                                <button type="button" class="add-job-offer-button btn btn-primary apply-button">
                                    Candidate Profile
                                </button>
                            </a>
                            <!-- Szczegóły kandydata -->
                            <h5><strong>Candidate Overview:</strong></h5>
                            <hr>
                            <p><strong>Name:</strong> <span th:text="${employerJobApplication.candidateName}">Name</span></p>
                            <p><strong>Surname:</strong> <span th:text="${employerJobApplication.candidateSurname}">Surname</span></p>
                            <p><strong>Email:</strong> <span th:text="${employerJobApplication.candidateEmail}">Email</span></p>
                            <p><strong>Phone:</strong> <span th:text="${employerJobApplication.candidatePhone}">Phone</span></p>
                            <p><strong>Tech Specialization:</strong> <span th:text="${employerJobApplication.candidateTechSpecialization}">Tech Specialization</span></p>
                            <p class="w-100"><strong>Skills:</strong>
                                <span th:text="${employerJobApplication.candidateSkills}">Skills</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
