<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/employer_portal_base}">

<head>
    <title>Code Bridge!</title>
    <link rel="stylesheet" type="text/css" href="" th:href="@{/css/style.css}">
</head>
<body>

<div layout:fragment="employerContent" class="job-applications-history-page-container">
    <div class="h1-home">
        <h2>JOB APPLICATIONS HISTORY</h2>
    </div>
    <div class="job-offers-container">
        <div class="container mt-4">
            <div class="card-body" th:each="employerHistoryApplication : ${employerHistoryApplications}">
                <div class="candidate-card">
                    <div class="card-body">
                        <div class="title-frame d-flex justify-content-between align-items-center">
                        </div>
                        <h5 style="margin-left: 30px;" class="mb-0" th:text="${employerHistoryApplication.jobOffer.jobOfferTitle}">Job Offer
                            Title</h5>
                        <div class="frame-card info-frame">
                            <div class="short-information">
                                <!-- Możesz tutaj dodać inne krótkie informacje -->
                            </div>
                            <!-- Szczegóły kandydata -->
                            <h5><strong>Candidate Overview:</strong></h5>
                            <hr>
                            <p><strong>Name:</strong> <span
                                    th:text="${employerHistoryApplication.candidate.name}">Name</span>
                            </p>
                            <p><strong>Surname:</strong> <span
                                    th:text="${employerHistoryApplication.candidate.surname}">Surname</span></p>
                            <p><strong>Email:</strong> <span
                                    th:text="${employerHistoryApplication.candidate.email}">Email</span></p>
                            <p><strong>Phone:</strong> <span
                                    th:text="${employerHistoryApplication.candidate.phone}">Phone</span></p>
                            <p><strong>Tech Specialization:</strong> <span
                                    th:text="${employerHistoryApplication.candidate.techSpecialization}">Tech Specialization</span>
                            </p>
                            <p class="w-100"><strong>Skills:</strong>
                                <span th:text="${employerHistoryApplication.candidate.candidateSkills}">Skills</span>
                            </p>
                            <p class="w-100"><strong>Application Status:</strong>
                                <span th:text="${employerHistoryApplication.applicationStatus}">Status</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>