<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
    <title>Find your job!</title>
</head>
<body>

<div layout:fragment="mainContent">
    <div class="h1-home">
        <h1>Find your job!</h1>
    </div>
    <div class="search-container ">
        <div class="container mt-4">
            <div class="card">
                <div class="card-header">
                    <h4>Search Filters</h4>
                </div>
                <div class="card-body">
                    <form th:action="@{/filtered-job-offers}" method="get">
                        <div class="row g-3">
                            <div class="col-md-3">
                                <label for="techSpecializationSelect" class="form-label">Specialization</label>
                                <select class="form-select" id="techSpecializationSelect" name="techSpecialization">
                                    <option value="" selected>Choose...</option>
                                    <option th:each="techSpecialization : ${T(pl.zajavka.CodeBridge.api.enums.TechSpecializationsEnum).values()}"
                                            th:value="${techSpecialization}" th:text="${techSpecialization}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="workTypeSelect" class="form-label">Work Type</label>
                                <select class="form-select" id="workTypeSelect" name="workType">
                                    <option value="" selected>Choose...</option>
                                    <option th:each="workType : ${T(pl.zajavka.CodeBridge.api.enums.WorkTypesEnum).values()}"
                                            th:value="${workType}" th:text="${workType}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="citySelect" class="form-label">City</label>
                                <select class="form-select" id="citySelect" name="city">
                                    <option value="" selected>Choose...</option>
                                    <option th:each="city : ${T(pl.zajavka.CodeBridge.api.enums.CitiesEnum).values()}"
                                            th:value="${city}" th:text="${city}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="experienceSelect" class="form-label">Experience</label>
                                <select class="form-select" id="experienceSelect" name="experience">
                                    <option value="" selected>Choose...</option>
                                    <option th:each="experience : ${T(pl.zajavka.CodeBridge.api.enums.ExperiencesEnum).values()}"
                                            th:value="${experience}" th:text="${experience}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="mustHaveSkillsSelect" class="form-label">Must Have Skills</label>
                                <select class="form-select" id="mustHaveSkillsSelect" name="mustHaveSkills">
                                    <option value="" selected>Choose...</option>
                                    <option th:each="skill : ${T(pl.zajavka.CodeBridge.api.enums.SkillsEnum).values()}"
                                            th:value="${skill}" th:text="${skill}"></option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="niceToHaveSkillsSelect" class="form-label">Nice to Have Skills</label>
                                <select class="form-select" id="niceToHaveSkillsSelect" name="niceToHaveSkills">
                                    <option value="" selected>Choose...</option>
                                    <option th:each="skill : ${T(pl.zajavka.CodeBridge.api.enums.SkillsEnum).values()}"
                                            th:value="${skill}" th:text="${skill}"></option>
                                </select>
                            </div>

                        </div>
                        <button type="submit" class="add-job-offer-button btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Pętla do iteracji przez oferty pracy -->
    <h2 style="margin-left: 100px; margin-top: 30px; margin-bottom: 30px;">All Job Offers:</h2>
    <div class="job-offers-container">
        <div class="candidate-card" th:each="jobOffer : ${jobOffers}">
            <div class="card-body">
                <div class="title-frame d-flex justify-content-between align-items-center">

                    <h4 class="mb-0" th:text="${jobOffer.jobOfferTitle}">Job Title</h4>
<!--                    <div sec:authorize="!isAuthenticated()">-->
<!--                        <a href="/CodeBridge/login" class="add-job-offer-button btn btn-primary apply-button">-->
<!--                            Apply Now-->
<!--                        </a>-->
<!--                    </div>-->
                    <div sec:authorize="hasAuthority('CANDIDATE')">
                        <form th:action="@{/apply/{jobOfferId}(jobOfferId=${jobOffer.jobOfferId})}" method="post">
                            <button type="submit" class="add-job-offer-button btn btn-primary apply-button">
                                Apply Now
                            </button>
                        </form>
                    </div>
                </div>
                <div class="frame-card info-frame">
                    <div class="short-information">
                        <p><strong>Specialization:</strong> <span th:text="${jobOffer.techSpecialization}">Tech Specialization</span>
                        </p>
                        <p><strong>Work Type:</strong> <span th:text="${jobOffer.workType}">Work Type</span></p>
                        <p><strong>City:</strong> <span th:text="${jobOffer.city}">City</span></p>
                        <p><strong>Experience:</strong> <span th:text="${jobOffer.experience}">Experience</span></p>
                        <p><strong>Salary:</strong> <span th:text="${jobOffer.salary}">Salary</span></p>
                        <p><strong>Company:</strong> <span
                                th:text="${jobOffer.employer.companyName}">Company Name</span></p>
                    </div>
                    <hr>
                    <div class="description-information">
                        <p><strong>Description:</strong> <span th:text="${jobOffer.description}">Description</span></p>
                    </div>
                    <hr>
                    <div class="skills-information">
                        <p><strong>Must Have Skills:</strong></p>
                        <ul class="skills-list">
                            <li th:each="skill : ${jobOffer.mustHaveSkills}" th:text="${skill}">Skill</li>
                        </ul>

                        <p><strong>Nice to Have Skills:</strong></p>
                        <ul class="skills-list">
                            <li th:each="skill : ${jobOffer.niceToHaveSkills}" th:text="${skill}">Skill</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
