<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
<!--    <meta charset=UTF-8"/>-->
    <title>CodeBridge</title>

</head>


<body style="background-color: #DDD5C4 ;">

<div id="container">
    <div id="logo">
        <a href="/CodeBridge/">
        <img th:src="@{/images/logo.png}" alt="Logo CodeBridge">
        </a>
    </div>
    <div id="JOB OFFERS">
        <a href="/JobOffers/">
        Job Offers
        </a>
    </div>
    <div id="LOG IN">
        <a href="/JobOffers/">
        Login
        </a>
    </div>

</div>

</body>

</html>