<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title layout:title-pattern="$CONTENT_TITLE"></title>

    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>

    <script th:src="@{/js/custom.min.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="" th:href="@{/css/style.css}">
</head>
<body>
<div id="wrapper">
    <div id="header">

        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid d-flex align-items-center">
                <div class="logo-container">
                    <img th:src="@{/images/logo.png}" class="navbar-brand me-4" alt="Logo CodeBridge"
                         onclick="window.location.href='/CodeBridge';"
                         style="cursor: pointer;">
                </div>

                <div class="header-navigation">
                    <a href="/CodeBridge/employer-portal/job-offers" class="nav-link">MY JOB OFFERS</a>
                    <span class="separator">|</span>
                    <a href="/CodeBridge/employer-portal/new-job-offer" class="nav-link">NEW JOB OFFER</a>
                    <span class="separator">|</span>
                    <a href="/CodeBridge/employer-portal/job-applications" class="nav-link">JOB APPLICATIONS</a>
                    <span class="separator">|</span>
                    <a href="/CodeBridge/employer-portal/find-a-candidate" class="nav-link">FIND A CANDIDATE</a>
                    <span class="separator">|</span>
                    <a href="/CodeBridge/employer-portal/contact" class="nav-link">CONTACT</a>
                </div>


                <div class="auth-buttons ms-auto">
                    <a sec:authorize="!isAuthenticated()" class="login-button btn btn-primary" th:href="@{/login}">Log in</a>
                    <a sec:authorize="isAuthenticated()" class="login-button btn btn-primary" th:href="@{/logout}">Log out</a>
                </div>
            </div>
        </nav>
    </div>
    <div id="main">

        <div id="employer_container" layout:fragment="employerContent">


        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


</body>


</html>


